<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#DB0000"/>
  <link rel="apple-touch-icon" href="/images/icons/icon-512x512.png">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="description" content="Find your favorite restaurant">
  <title>Ayo Makan</title>
</head>
<body>
  <a href="#main" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="content">
      <div class="nav_brand" tabindex="0">
        <h1>Ayo Makan</h1>
      </div>
      <button id="hamburger" aria-label="navigation-menu">☰</button>
      <nav id="drawer">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://github.com/novaw22">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main id="main" tabindex="0"></main>
  <footer tabindex="0">
    <p>copyright &copy 2022 - Yuk Makan</p>
  </footer> 
</body>
</html>
